h1, h2, h3, p {
    margin: 0;
    padding: 0;
    color: #FFF;
    font-style: normal;
    line-height: normal;
}

/******** SERVICE HERO ********/

.service__hero-section {
    padding: 90px 0;
    background-image: url('../../assets/images/about-bg.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.service__hero-title {
    margin-bottom: 24px;
    text-align: center;
    font-size: 48px;
    font-weight: 800;
}

.service__hero-desc {
    width: 582px;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 148%;
}

/******** LIST ********/

.service__list-wrapper {
    padding: 60px 0;
}

.field-section__list {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    row-gap: 25px;
}

.field-section__item {
    padding: 70px 0;
    border: 1.5px solid #051022;
    border-radius: 32px;
    background: #FCFBFB;
    border-radius: 32px;
    background: #FCFBFB;
}

.field-section__item-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.field-section__item:hover .field-section__item-title {
    color: #8C0F95;
}

.field-section__item:hover path {
    transition: all 300ms linear;
}

.field-section__item:hover path {
    fill: #8C0F95;
}

.field-section__item:hover .call .path1 {
    fill: #8C0F95;
    stroke: #8C0F95;
}

.field-section__item:hover .call .path2 {
    fill: #FFF;
    stroke: #8C0F95;
}

.field-section__item-title {
    width: 171px;
    margin-top: 24px;
    color: #051022;
    font-size: 24px;
    font-weight: 600;
    transition: all 300ms linear;
}

.field-section__item-desc {
    width: 171px;
    margin-top: 32px;
    color:#7E8089;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
}

.service__contact {
    padding: 70px 0;
    background: #051022;
}

.service__contact-title {
    margin-bottom: 32px;
    color: #FFF;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
}

.service__contact-btn {
    padding: 12px 56px;
    color: #376FFF;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 16px;
    border: 3px solid #376FFF;
    background: #FFF;
    box-shadow: 0px 0px 17px 0px #376FFF;
    transition: all 300ms linear;
}

.service__contact-btn:hover {
    opacity: 0.8;
}

@media screen and (min-width: 320px) and (max-width: 480px) {

    /******** SERVICE HERO ********/

    .service__hero-section {
        padding: 24px 0;
    }

    .service__hero-title {
        margin-bottom: 14px;
        font-size: 16px;
    }

    .service__hero-desc {
        width: 290px;
        font-size: 12px;
    }

    /******** LIST ********/

    .field-section__list {
        display: grid;
        grid-template-columns: 165px 165px;
        row-gap: 15px;
        column-gap: 10px;
    }

    .field-section__item {
        padding: 15px 0;
        border-radius: 6px;
    }

    .field-section__item-title {
        width: 129px;
        margin-top: 12px;
        font-size: 15px;
    }

    .field-section__item-desc {
        margin-top: 20px;
        width: 132px;
        font-size: 12px;
    }

    .service__contact {
        padding: 30px 0;
    }

    .service__contact-title {
        font-size: 16px;
    }
}