.header__top {
    width: 100% !important;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #00081D;
}

.text-decor {
    margin: 0;
    padding: 0;
    color: #FFF;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
}

.header__top-link {
    text-decoration: none;
    transition: all 300ms linear;
}

.header__top-link:hover {
    color: #8C0F95;
}

.header__top-span {
    margin-left: 10px;
    display: inline-block;
    width: 1px;
    height: 12px;
    background-color: #FFF;
}

.header__top-desc {
    margin-left: 10px;
}

.header__list-item + .header__list-item {
    margin-left: 28px;
}

.header__list-item svg path {
    transition: all 300ms linear;
}

.header__list-item:hover svg path {
    stroke: #8C0F95;
}

.header__bottom {
    padding: 28px 0;
    border-bottom: 3px solid #051022;
}

.header__bottom-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__bottom-logo-desc {
    margin: 0;
    margin-left: 10px;
    padding: 0;
    color: #1048A9;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
}

.header__bottom-list {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.header__bottom-list-item + .header__bottom-list-item {
    margin-left: 35px;
}

.header__bottom-link {
    margin: 0;
    padding: 0;
    text-decoration: none;
    margin-right: 8px;
    color:#051022;
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
    transition: all 300ms linear;
}

.header__bottom-link:hover {
    color: #8C0F95;
}

.header__bottom-link-active {
    color: #8C0F95;
}

.header__bottom-btn {
    display: none;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    .header__top {
        padding: 10px 0;
    }

    .header__top-right-media {
        display: none;
    }

    .header__bottom {
        padding: 28px 0;
    }

    .header__bottom-btn {
        display: block;
    }

    .header__bottom-nav {
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        width: 80%;
        background-color: #FFFFFF;
        transition: 1s;
        transform: translateX(100vh);
        display: block;
    }

    .responsive-nav {
        transform: none;
    }

    .header__bottom-list {
        margin: 0;
        padding: 0;
        padding: 60px 30px;
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 20px;
    }

    .header__bottom-list-item + .header__bottom-list-item {
        margin-left: 0;
    }

    .postion {
        position: fixed;
        top: 30px;
        right: 30px;
    }


}